@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .primary-button {
    @apply py-1 px-5 font-Lato-Black border-2 text-secondary-color border-secondary-color rounded hover:bg-secondary-color transition-colors duration-300 hover:text-primary-color;
  }
  .primary-title {
    @apply text-7xl;
  }
  .limiter-container {
    @apply mx-40;
  }
}

@font-face {
  font-family: "Lato-Black";
  src: url("../assets/font/Lato-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Cardo-Bold";
  src: url("../assets/font/Cardo-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Regular";
  src: url("../assets/font/Lato-Regular.ttf") format("truetype");
}
