@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  p {
    @apply font-Lato-Regular max-2xl:text-sm max-xl:text-xs;
  }
  .primary-button {
    @apply py-2 px-12 font-Lato-Black border-2 text-secondary-color border-secondary-color rounded hover:bg-secondary-color transition-colors duration-300 hover:text-primary-color max-2xl:text-sm;
  }
  .main-style-title {
    @apply text-7xl font-Cardo-Bold text-secondary-color max-2xl:text-6xl max-xl:text-5xl;
  }
  .common-style-title {
    @apply text-4xl font-Cardo-Bold text-secondary-color max-2xl:text-3xl max-xl:text-2xl;
  }
  .limiter-container {
    @apply mx-16;
  }
  .flex-card {
    @apply flex flex-col gap-5 flex-[0_0_25%] max-2xl:gap-3;
  }

  .line {
    @apply w-14 bg-secondary-color h-1 max-xl:h-[2px];
  }
  .divider {
    @apply line w-full my-3;
  }
  .textarea {
    width: 30ch;
    height: 10ch;
  }
  .main-style-input {
    @apply border-2 py-2 px-6 border-secondary-color rounded placeholder:text-secondary-color w-full;
  }
  .main-style-card {
    @apply border-2 rounded h-fit border-secondary-color py-8 px-14 text-center max-2xl:py-4 max-2xl:px-7 max-xl:py-2;
  }
  .arrow {
    @apply absolute top-28 border-[3px] border-secondary-color p-5 rounded-md bg-primary-color;
  }
  .background-image {
    background-image: url("../assets/images/1-section/scribbleDark.png"),
      url("../assets/images/1-section/Scribble\ Lightest.png");
    background-position: 100% 120%, 0% -10%;
    background-repeat: no-repeat, no-repeat;
    background-size: 10dvw 40dvh, 30dvw 100dvh;
  }

  .background-image-1 {
    background-image: url("../assets/images/2-section/Scribble-right.png"),
      url("../assets/images/2-section/Scribble-left.png");
    background-position: 0% 0%, 100% 100%;
    background-repeat: no-repeat, no-repeat;
    background-size: 30dvw 20dvh, 30dvw 10dvh;
  }

  .background-image-2 {
    background-image: url("../assets/images/3-section/Scribble-right.png"),
      url("../assets/images/3-section/Scribble-left.png");
    background-position: 0% 0%, 100% 70%;
    background-repeat: no-repeat, no-repeat;
    background-size: 5dvw 65dvh, 8dvw 50dvh;
  }

  .background-image-3 {
    background-image: url("../assets/images/4-section/Scribble\ Dark.png"),
      url("../assets/images/4-section/Scribble\ Lightest.png");
    background-position: 30% 85%, 100% 100%;
    background-repeat: no-repeat;
    background-size: 20dvw 15dvh, 25dvw 80dvh;
  }

  .background-image-4 {
    background-image: url("../assets/images/6-section/Scribble\ Light.png");
    background-position: 0% 104%;
    background-repeat: no-repeat;
    background-size: 20dvw 15dvh;
  }

  .background-image-5 {
    background-image: url("../assets/images/8-section/Scribble\ Dark.png"),
      /*!  ⬆️ right */ url("../assets/images/8-section/Scribble\ Dark2.png"); /* ⬅️ left */
    background-position: 100% 100%, 0% /*(l)*/ 25% /*(t)*/;
    background-repeat: no-repeat, no-repeat;
    background-size: 30dvw 15dvh, 20dvw 20dvh;
  }

  .background-image-6 {
    background-image: url("../assets/images/11-section/Scribble\ Dark.png");
    background-position: 0% 90%;
    background-repeat: no-repeat;
    background-size: 30dvw 15dvh;
  }
}

@font-face {
  font-family: "Lato-Black";
  src: url("../assets/font/Lato-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Cardo-Bold";
  src: url("../assets/font/Cardo-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Regular";
  src: url("../assets/font/Lato-Regular.ttf") format("truetype");
}
