@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  p {
    @apply font-Lato-Regular;
  }
  .primary-button {
    @apply py-2 px-12 font-Lato-Black border-2 text-secondary-color border-secondary-color rounded hover:bg-secondary-color transition-colors duration-300 hover:text-primary-color;
  }
  .main-style-title {
    @apply text-7xl font-Cardo-Bold text-secondary-color;
  }
  .common-style-title {
    @apply text-4xl font-Cardo-Bold text-secondary-color;
  }
  .limiter-container {
    @apply mx-32;
  }
  .flex-card {
    @apply flex flex-col gap-5;
  }

  .line {
    @apply w-14 bg-secondary-color h-1;
  }
}

@font-face {
  font-family: "Lato-Black";
  src: url("../assets/font/Lato-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Cardo-Bold";
  src: url("../assets/font/Cardo-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Regular";
  src: url("../assets/font/Lato-Regular.ttf") format("truetype");
}
